@import '../../../styles/tokens/components/date-picker.css';

@layer components {
  :host {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .trigger {
    display: flex;
    flex-direction: column;
    gap: var(--date-picker-trigger-gap);
  }
}
